<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>check</servlet-name>
        <servlet-class>com.tutorial.servlet.servlet.FirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>check</servlet-name>
        <url-pattern>/web</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>form</servlet-name>
        <servlet-class>com.tutorial.servlet.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>form</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>requestDispatch</servlet-name>
        <servlet-class>com.tutorial.servlet.servlet.RequestDispatcher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>requestDispatch</servlet-name>
        <url-pattern>/requestDispatch</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>com.example.cookie.HomePage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/cookieHome</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>secondPage</servlet-name>
        <servlet-class>com.example.cookie.Welcome</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>secondPage</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cookiePage</servlet-name>
        <servlet-class>com.example.cookie.CookiePage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cookiePage</servlet-name>
        <url-pattern>/CookiePage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>urlrewirttingHome</servlet-name>
        <servlet-class>com.example.urlRewirtting.HomePageUrlRewritting</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>urlrewirttingHome</servlet-name>
        <url-pattern>/urlHome</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>urlHomeSecond</servlet-name>
        <servlet-class>com.example.urlRewirtting.UrlRewrittingServletTwo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>urlHomeSecond</servlet-name>
        <url-pattern>/UrlRewrittingServletTwo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>urlSession</servlet-name>
        <servlet-class>com.example.urlRewirtting.urlSession</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>urlSession</servlet-name>
        <url-pattern>/urlSession</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HffHome</servlet-name>
        <servlet-class>com.example.HiddenFormField.HiddenFormFieldHome</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HffHome</servlet-name>
        <url-pattern>/HffHome</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HffSecond</servlet-name>
        <servlet-class>com.example.HiddenFormField.HiddenFormFieldSecond</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HffSecond</servlet-name>
        <url-pattern>/HiddenFormSecond</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HffThird</servlet-name>
        <servlet-class>com.example.HiddenFormField.HiddenFormFieldThird</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HffThird</servlet-name>
        <url-pattern>/HiddenFormFieldThird</url-pattern>
    </servlet-mapping>
</web-app>