<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>check</servlet-name>
        <servlet-class>com.tutorial.servlet.servlet.FirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>check</servlet-name>
        <url-pattern>/web</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>form</servlet-name>
        <servlet-class>com.tutorial.servlet.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>form</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>requestDispatch</servlet-name>
        <servlet-class>com.tutorial.servlet.servlet.RequestDispatcher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>requestDispatch</servlet-name>
        <url-pattern>/requestDispatch</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>com.example.cookie.HomePage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/cookieHome</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>secondPage</servlet-name>
        <servlet-class>com.example.cookie.Welcome</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>secondPage</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cookiePage</servlet-name>
        <servlet-class>com.example.cookie.CookiePage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cookiePage</servlet-name>
        <url-pattern>/CookiePage</url-pattern>
    </servlet-mapping>
</web-app>